<!doctype html>
<html class="no-js" lang="zxx">

<%- include head.ejs %>
<body>

<!-- Add your site or application content here -->

<!-- pre loader area start -->
<%- include preloader.ejs %>
<!-- pre loader area end -->

<!-- back to top start -->
<%- include back_to_top.ejs %>
<!-- back to top end -->

<!-- header area start -->
<%- include navigation_bar.ejs %>

<main>

    <!-- instructor details area start -->
    <section class="teacher__area pt-100 pb-110">
        <div class="page__title-shape">
            <img class="page-title-shape-5 d-none d-sm-block" src="/public/images/page-title/page-title-shape-1.png" alt="">
            <img class="page-title-shape-6" src="/images/page-title/page-title-shape-6.png" alt="">
            <img class="page-title-shape-3" src="/images/page-title/page-title-shape-3.png" alt="">
            <img class="page-title-shape-7" src="/images/page-title/page-title-shape-4.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="teacher__details-thumb p-relative w-img pr-30">

                        <img src="/images/teacher/teacher-2.jpg" alt="">

                        <div class="teacher__details-shape">
                            <img class="teacher-details-shape-1" src="/images/teacher/details/shape/shape-1.png" alt="">
                            <img class="teacher-details-shape-2" src="/images/teacher/details/shape/shape-2.png" alt="">
                        </div>
                    </div>

                    <div>
                        <hr>
                        <p>
                                <% if(isStudent == 'true') {%>
                                    <a href="/student/user/<%= userInfo[0] %>/profile-view/edit">My Profile <i></i><i class="fa fa-pen"></i></a>
                            <%}else {%>
                                <a href="/instructor/user/<%= userInfo[0] %>/profile-view/edit">My Profile <i></i><i class="fa fa-pen"></i></a>
                            <%}%>
                        </p>
                        <hr>
                        <p>My Courses </p>
                        <hr>
                        <p><a href="#">Notifications </a></p>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                            <div class="teacher__info">
                                <h4><%= userInfo[1] %></h4>
                            </div>

                            <% if(isStudent == 'false') {%>
                            <div class="teacher__rating">
                                <h5>Review:</h5>
                                <div class="teacher__rating-inner d-flex align-items-center">
                                    <ul>
                                        <li><a href="#"> <i class="icon_star"></i> </a></li>
                                        <li><a href="#"> <i class="icon_star"></i> </a></li>
                                        <li><a href="#"> <i class="icon_star"></i> </a></li>
                                        <li><a href="#"> <i class="icon_star"></i> </a></li>
                                        <li><a href="#"> <i class="icon_star"></i> </a></li>
                                    </ul>
                                    <p> <%= userInfo[9] %></p>
                                </div>
                            </div>
                            <%}%>

                            <div class="teacher__social-2">
                                <h4>Follow Us:</h4>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="social_facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="social_twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="social_vimeo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="social_linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="teacher__follow mb-5">
                                <a href="#" class="teacher__follow-btn">follow <i class="icon_plus"></i> </a>
                            </div>
                        </div>

                        <div class="teacher__courses pt-55">
                            <div class="section__title-wrapper mb-30">
                                <% if(isStudent == 'false') {%>
                                <h2 class="section__title">Instructor <span class="yellow-bg yellow-bg-big">Courses<img src="/images/shape/yellow-bg.png" alt=""></span></h2>
                                <%}else {%>
                                        <h2 class="section__title">Student <span class="yellow-bg yellow-bg-big">Courses<img src="/images/shape/yellow-bg.png" alt=""></span></h2>
                                    <%}%>
                            </div>
                            <div class="teacher__course-wrapper">
                                <div class="row">

                                    <% if(courses.length> 0 ) { %>
                                    <%for(let course of courses){%>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="course__item white-bg mb-30 fix">
                                            <div class="course__thumb w-img p-relative fix">

                                                <% if(isStudent == 'true') {%>
                                                <a href="/student/user/<%=userInfo[0]%>/course-view/<%= course[0] %> ">
                                                    <img src="/images/course/course-1.jpg" alt="">
                                                </a>
                                                <% } else {%>
                                                <a href="/teacher/user/<%=userInfo[0]%>/course-view/<%= course[0] %> ">
                                                    <img src="/images/course/course-1.jpg" alt="">
                                                </a>
                                                <% } %>

                                                <div class="course__tag">
                                                    <a href="#"><%= course[8] %></a>
                                                </div>
                                            </div>
                                            <div class="course__content">
                                                <div class="course__meta d-flex align-items-center justify-content-between">
                                                    <div class="course__lesson">
                                                        <span><i class="far fa-book-alt"></i>43 Lesson</span>
                                                    </div>
                                                    <div class="course__rating">
                                                        <span><i class="icon_star"></i><%= course[9] %></span>
                                                    </div>
                                                </div>
                                                <h3 class="course__title">
                                                    <% if(isStudent == 'true') {%>
                                                    <a href="/student/user/<%=userInfo[0]%>/course-view/<%= course[0] %> ">
                                                        <%= course[5] %>
                                                    </a>
                                                    <% } else {%>
                                                    <a href="/teacher/user/<%=userInfo[0]%>/course-view/<%= course[0] %> ">
                                                        <%= course[5] %>
                                                    </a>
                                                    <% } %>

                                                </h3>
                                                <div class="course__teacher d-flex align-items-center">
                                                    <div class="course__teacher-thumb mr-15">
                                                        <img src="/images/course/teacher/teacher-1.jpg" alt="">
                                                    </div>
                                                    <h6><a href="#">Jim Séchen</a></h6>
                                                </div>
                                            </div>
                                            <div class="course__more d-flex justify-content-between align-items-center">
                                                <div class="course__status">
                                                    <span>Free</span>
                                                </div>
                                                <div class="course__btn">
                                                    <% if(isStudent == 'true') {%>
                                                    <a href="/student/user/<%=userInfo[0]%>/course-view/<%= course[0] %> " class="link-btn">
                                                        Know Details
                                                        <i class="far fa-arrow-right"></i>
                                                        <i class="far fa-arrow-right"></i>
                                                    </a>
                                                    <% } else {%>
                                                    <a href="/teacher/user/<%=userInfo[0]%>/course-view/<%= course[0] %> " class="link-btn">
                                                        Know Details
                                                        <i class="far fa-arrow-right"></i>
                                                        <i class="far fa-arrow-right"></i>
                                                    </a>
                                                    <% } %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                    <!-- for loop ends here -->

                                    <% } else { %>
                                        <h2 class="text-primary text-uppercase" style="letter-spacing: 5px; margin-top: 5rem;">
                                            No courses yet..
                                        </h2>
                                    <% } %>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instructor details area end -->

    <!-- cta area start -->
    <section class="cta__area mb--120">
        <div class="container">
            <div class="cta__inner blue-bg fix">
                <div class="cta__shape">
                    <img src="/public/images/cta/cta-shape.png" alt="">
                </div>
                <div class="row align-items-center">
                    <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-8">
                        <div class="cta__content">
                            <h3 class="cta__title">You can be your own Guiding star with our help</h3>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-4 col-md-4">
                        <div class="cta__more d-md-flex justify-content-end p-relative z-index-1">
                            <a href="contact.html" class="e-btn e-btn-white">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta area end -->


</main>

<!-- footer area start -->
<footer>
    <div class="footer__area footer-bg">
        <div class="footer__top pt-190 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <div class="footer__logo">
                                    <a href="index.html">
                                        <img src="assets/img/logo/logo2.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="footer__widget-body">
                                <p>Great lesson ideas and lesson plans for ESL teachers! Educators can customize lesson plans to best.</p>

                                <div class="footer__social">
                                    <ul>
                                        <li><a href="#"><i class="social_facebook"></i></a></li>
                                        <li><a href="#" class="tw"><i class="social_twitter"></i></a></li>
                                        <li><a href="#" class="pin"><i class="social_pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-2 offset-xxl-1 col-xl-2 offset-xl-1 col-lg-3 offset-lg-0 col-md-2 offset-md-1 col-sm-5 offset-sm-1">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title">Company</h3>
                            </div>
                            <div class="footer__widget-body">
                                <div class="footer__link">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Instructor</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Become a Teacher</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 offset-lg-0 col-md-3 offset-md-1 col-sm-6">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title">Platform</h3>
                            </div>
                            <div class="footer__widget-body">
                                <div class="footer__link">
                                    <ul>
                                        <li><a href="#">Browse Library</a></li>
                                        <li><a href="#">Library</a></li>
                                        <li><a href="#">Partners</a></li>
                                        <li><a href="#">News & Blogs</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-6">
                        <div class="footer__widget footer__pl-70 mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title">Subscribe</h3>
                            </div>
                            <div class="footer__widget-body">
                                <div class="footer__subscribe">
                                    <form action="#">
                                        <div class="footer__subscribe-input mb-15">
                                            <input type="email" placeholder="Your email address">
                                            <button type="submit">
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <p>Get the latest news and updates right at your inbox.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="footer__copyright text-center">
                            <p>© 2022 Shikho, All Rights Reserved. Design By <a href="index.html">Team Shikho</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
<!-- JS here -->
<script src="/javascripts/vendor/jquery-3.5.1.min.js"></script>
<script src="/javascripts/vendor/waypoints.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/jquery.meanmenu.js"></script>
<script src="/javascripts/swiper-bundle.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.fancybox.min.js"></script>
<script src="/javascripts/isotope.pkgd.min.js"></script>
<script src="/javascripts/parallax.min.js"></script>
<script src="/javascripts/backToTop.js"></script>
<script src="/javascripts/jquery.counterup.min.js"></script>
<script src="/javascripts/ajax-form.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>

